#banner{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15%;
}

#banner>div{
    width: 30%;
}

#banner>#texto{
    align-self: center;
}

#banner>#texto>h1{
    font-size: 60px;
    color: #776BA0;
}

@media (max-width: 768px) {
    #banner{
        flex-direction: column;
        justify-content: flex-start;
    }

    #banner>#texto{
        align-self: normal;
    }

    #banner>#texto>h1{
        font-size: 40px;
        margin-left: 20%;
        margin-top: 30%;
    }

    #banner>div>img{
        width: 300%;
    }
    

  }