#banner{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#banner>div{
    width: 30%;
}

#banner>#texto{
    align-self: center;
}

#banner>#texto>h1{
    font-size: 60px;
    color: #776BA0;
}

@media (max-width: 768px) {
    #imgBanner>img{ 
        width: 75%;
        position: absolute;
        right: -10%;
        top: 20%;
        z-index: -1000;
        height: 500px;
    }
  }