#barra{
    margin:  0 0;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #38605F;
}

#barra>div>p{
    font-size: 25px;
    text-align: center;
    color: white;
}

