@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

#marquee {
  white-space: nowrap;
  animation: marquee 20s linear infinite;
  display: flex;
  justify-content: space-between;
}

#marquee > img {
  object-fit: none;
  margin-left: 15%;
}
