#principal{
    display: flex;
    margin-top: 1%;
}

body{
    margin: 0 0.5%;
    background-color: rgb(216, 216, 216);
}

#esq{
    width: 20%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
}

#dir{
    width: 78%;
    height: 100vh;
}

#contCurso{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    width: 90%;
    padding: 3%;
    height: fit-content;
    border-radius: 15px;
    background-color: white
}

#contCurso>h1{
    font-size: 28px;
    margin-top: 7%;
}

#contCurso>p{
    font-size: 15px;
}

.aulas>a>div>img{
    width: 15px;
}

.aulas>a{
    width: 95%;
    height: 65px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
}

.aulas>a>div{
    font-size: 10px;
}

.aulas>a>div>p{
    font-size: 15px;
}

#barra{
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 2%;
    border-radius: 7px;
}

#barra>div>h1{
    font-size: 27px;
}

#barra>div>p{
    font-size: 15px;
}

#barra>div>Button{
    padding: 2%;
}

#btn{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    width: 30%;
}

#cont{
     cursor: pointer;
    display: flex;
    margin-top: 2%;
    width: 100%;
    height: 45px;
    justify-content: center;
    background-color: white;
    border-radius: 7px;
}

#cont>div>img{
    width: 30px;
}

#cont>div{
   
    display: flex;
    justify-content: center;
    gap: 3px;
    width: 34%;
    align-items: center;
}

#boxVideo{
    height: 450px;
    margin-top: 2%;
    background-color: white;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#boxVideo>div{
    width: 100%;
    height: 9000px;
}

#boxMateriais{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
    margin-top: 2%;
    background-color: white;
    height: 450px;
    width: 100%;
    padding: 2%;
}

#boxMateriais>div{
    display: flex;
    height: 60px;
    padding: 1%;
    align-items: center;
    justify-content: center;
    gap: 72%;
    border: 1px solid black;
    border-radius: 7px;
}

#boxMateriais>div>section>div{
    height: min-content;
}

section{
    display: flex;
    justify-content: center;
    gap: 5%;
    width: 90%;
    align-items: center;
    i{
  font-size: 3.8rem;
  line-height: 0.5;
  color: var(--primary);

    }
}

#boxMateriais>div>div{
    display: flex;
    flex-direction: column;
}

#boxMateriais>div>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#boxMateriais>div>div>img{
    width: 20px;
    height: 30px;
}

#boxMateriais>div>div>a>img{
    width: 30px;
    height: 30px;
}
.desativado{
    display: none;
}
.ativo{
    display: flex;
    border-bottom: 1px solid black;
}

#boxQuiz{
    flex-direction: column;
    gap: 25px;
    width: 100%;
    padding: 2%;
    margin-top: 2%;
    background-color: white;
}
#boxQuiz>form{
    display: flex;
    flex-direction: column;
     box-shadow: 1px 1px 15px #00000069;
     padding: 20px 20px;
     border-radius: 5px;
    background-color: rgb(219, 219, 219);
    gap: 25px;
     
}

#boxQuiz > form > label{
    display: flex;
    align-items: center;
    justify-content: first baseline;
    gap: 10px;
    margin-top: 20px;
     background-color: rgb(255, 250, 250);
     max-width: fit-content;
     min-width: 50%;
     height: 45PX;
    padding: 20px;
    box-shadow: 1px 1px 15px #0000001f;
}
.certo{
    outline: 1px solid green;
}
.errado{
    outline: 1px solid rgb(128, 0, 0);
}
label p {
    font-size: 25px;
   
}
.invisivel{
    display: none;
}
form>p{
    color: red;
    background: #ffffff;
    padding: 15px;
    text-align: center;
}

label input {
    accent-color: #558D8C;
    width: 23px;
    height: 23px;
}
.enviar{
   border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
    float: right;
    width: fit-content;
    font-size: 1.1em;
    background-color: #558D8C;
    color: #ffffff;
    padding: 05px 15px ;
    box-shadow: 1px 1px 15px #00000017;

    transition: .5s;
    &:hover{
         box-shadow: 1px 1px 15px #00000069;
         scale: 1.09;
    }
}
@media (max-width: 768px) {
    #contCurso{
        display: none;
    }

    #esq{
        display: none;
        width: 100%;
    }

    #dir{
        width: 100%;
    }

    #barra{
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 150px;
        flex-direction: column;
    }
    #barra>#btn{
        display: none;
    }

    #barra>div>h1{
        font-size: 30px;
    }

    #barra>div{
        justify-content: center;
        gap: 20px;
    }

    #cont{
        width: 100%;
        margin: 8% 0 ;
    }

    #boxMateriais>h1{
        text-align: center;
        font-size: 12px;
    }

    section>div>h1{
        font-size: 10px;
    }

    section>div{
        flex-direction: row;
    }

  }
