@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 :root {
      --primary: #246355;
      --primary-light: rgba(36, 99, 85, 0.1);
      --secondary: #D23B85;
      --secondary-light: rgba(210, 59, 133, 0.1);
      --background: #F8F9FC;
      --foreground: #1A1F2C;
      --muted: #8E9196;
      --muted-light: #F1F0FB;
      --border: #E2E8F0;
      --white: #FFFFFF;
      --success: #10B981;
      --error: #EF4444;
      --warning: #F59E0B;
      --radius: 0.5rem;
    }

body{
    font-family: "josefin sans", sans-serif;
    height: max-content;
    width: 100%;
    overflow-x: hidden;
    font-size: 1.1rem;
     background-color: var(--background);
      color: var(--foreground);
      margin: 0;
      padding: 0;
      min-height: 100vh;
}

#nav{
    background-color: white;
}

main{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

button{
    border: none;
}

ul{
    list-style: none;
}

a{

    text-decoration: none;
    color:currentColor;
}
a:visited{
    color:currentColor;
    text-decoration: none;
}
/* Para dispositivos móveis (smartphones) */
@media (max-width: 768px) {
    body{
        overflow-x: hidden;
    }

  }
  
  /* Para telas pequenas (smartphones menores) */
  @media (max-width: 480px) {
    /* Estilos para dispositivos móveis menores */
  }
  
  /* Para tablets */
  @media (max-width: 1024px) {
    /* Estilos para tablets */
  }

  