#nav {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
    height: 110px;
    padding-left: 5%;
}

#nav>div>a>img{
    margin-top: 20%;
}

#botoesNav {
    flex: 2; 
    padding-left: 10%;
}

#botoesNav ul {
    list-style: none;
    display: flex;
    justify-content: center; 
    margin: 0;
    padding: 0;
}

#botoesNav ul li {
    margin: 0 15px; 
}

#botoesNav > ul > li > a {
    height: 37px;
    padding: 10px 20px; 
    border-radius: 30px;
    background-color: #739e9d;
    color: white;
}

#navLog {
    display: flex;
    align-items: center; 
    flex-direction: column;
    justify-content: center;
    flex: 1; 
    width: 10%;
}

#navLog img {
    width: 29px;
    height: 29px;
}

#navLog p a {
    text-decoration: none; 
    font-size: 16px;
    color: #739e9d;
    
}

