#rodape{
    margin: 5% 0 ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    line-height: 35px;
}

#rodape p {
    font-size: 20px;
}

#rodape>div>p{
    width: 60%;
    color: #949494;
    font-size: 20px;
} 

#rodape>div{
    width: 23%;
}
#rodape>div:nth-child(1){
    display: flex;
    justify-content: center;
}
#rodape>div:nth-child(1)>img{
    object-fit: none;
}
ul{
    color: #949494;
}

#rodape h1{
    margin-bottom: 5%;
}

#icones{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 5%;
}
#icones>li>img{
    height: 25px;
    width: 25px;
}
.icon{
    width: 25px;
    height: 25px;
}
#direitos{
    display: flex;
    justify-content: center;
}
@media (max-width: 768px) {
    #rodape{
        flex-direction: column;
        justify-content: center;
        margin: 0 30%;
    }

    #direitos{
       font-size: 15px;
    }
  }