#metodologia{
    display: flex;
    justify-content: center;
    margin: 0 5% ;
}

#metodologia>div{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 13%;
}
#metodologia>img{
    width: 30%;
}
#metodologia>div>p{
    color: #949494;
    font-size: 20px;
    text-align: left;
    width: 90%;
}

#metodologia>div>h1{
    font-size: 35px;
    color: #776BA0;
}

#metodologia>div>ul{
    list-style: none;
}

#metodologia>div>ul>li{
    gap: 5px;
    display: flex;
}

#metodologia>div>ul>li>p{
    margin-top: 1%;
    color: #985C7E;
}