<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Css/cadastroEmpresa.css" />
    <title>Cadastro</title>
    <script src="../js/jquery-3.7.1.min.js"></script>
    <script src="../js/jquery.mask.js"></script>
    
  </head>

  <body>
    <div id="telaCadastro">
      <!-- Coluna do Ícone -->
      <div id="iconeCadastro">
        <p>Faça seu cadastro</p>
        <img src="../Imagens/imagemEmpresa.png" alt="Ícone" />
      </div>
      <!-- Coluna do Formulário -->
      <form id="cadastro">
       
        <div class="container">
          <div class="column">
            <label for="cep">Nome Empresa</label>
            <input type="text" id="nome" name="nome" />

            <label for="ie">IE (Inscrição Estadual)</label>
            <input
              type="text"
              id="ie"
              name="ie"
              placeholder="000.000.000.000"
            />

            <label for="cep">CEP</label>
            <input type="text" id="cep" name="cep" placeholder="00000-000" />

            <label for="bairro">Bairro</label>
            <input type="text" id="bairro" name="bairro" />

            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="digite seu email"/>

            <label for="senha">Senha</label>
            <input type="password" id="senha" name="senha" />
          </div>

          <div class="divider"></div>

          <div class="column">
            <label for="cep">CNPJ</label>
            <input
              type="text"
              id="cnpj"
              name="cnpj"
              placeholder="00.000.000.0000-00"
            />

            <label for="telefone">Telefone</label>
            <input
              type="text"
              id="telefone"
              name="telefone"
              placeholder="(00) 0000-0000"
            />

            <label for="rua">Rua</label>
            <input type="text" id="rua" name="rua" />

            <label for="cidade">Cidade</label>
            <input type="text" id="cidade" name="cidade" />

            <label for="estado">Estado</label>
            <input type="text" id="estado" name="estado" />

            <div class="escolheArquivo">
              <h1>Logo</h1>
              <div class="arquivo">
                <!-- Label personalizado para o input de arquivo -->
                <input type="file" id="file" name="file" />
                <div class="selecionar" id="selecionar">
                  Nenhuma logo selecionada
                </div>
              </div>
            </div>
            <button type="submit">Cadastrar</button>
          </div>
        </div>
      </form>
    </div>

    <script type="text/javascript">
      //mascaras
      $(document).ready(function () {
        $("#telefone").mask("99 9999-9999");
        $("#whatsapp").mask("99 99999-9999");
        $("#cnpj").mask("00.000.000/0000-00", { reverse: true });
        $("#cep").mask("00000-000");
        $("#ie").mask("000.000.000.000");
        $("#email").mask("A", {
          translation: {
            A: { pattern: /[\w@\-.+]/, recursive: true },
          },
        });
      });
    </script>
  </body>
</html>
