<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnFY</title>
    <link rel="stylesheet" href="../Css/nav.css">
    <link rel="stylesheet" href="../Css/geral.css">
    <link rel="stylesheet" href="../css/banner.css">
    <link rel="stylesheet" href="../css/cadastro.css">
    <link rel="stylesheet" href="../Css/barra.css">
    <link rel="stylesheet" href="../Css/metodologia.css">
    <link rel="stylesheet" href="../Css/carrosel.css">
    <link rel="stylesheet" href="../Css/rodape.css">
    <link rel="shortcut icon" href="../Imagens/LogoLearnFy.png" type="image/x-icon">
<body>
    
<div id="nav"> <!--Nav-->

    <div>
            <a href=""><img src="../Imagens/LogoLearnFy.png" alt="Logo LearnFy" id="logo"></a>
    </div>

    <div id="botoesNav">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Cursos</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
    </div>

    <div id="navLog">
        <a href=""><img src="../Ícones/usuario.svg" alt="Ícone de Usuário"></a>
        <p><a href="">Fazer login</a></p>
    </div>

</div><!--Fim nav-->

<main>
<div id="banner"><!--Banner-->

    <div id="texto">
        <h1>Conectando você ao conhecimento, em qualquer lugar.</h1>
    </div>

    <div id="imgBanner">
        <img src="../Imagens/Banner.png" alt="">
    </div>

</div><!--Fim banner-->

<div id="cadastro"><!--Cadastro-->

    <div>
        <img src="../Imagens/ImagemNegocios.png" alt="">
    </div>

    <div id="contCad">
        <h1>Cadastre sua empresa na LearnFy!</h1>
        <div>
            <p>Leve seu conteúdo para milhares de alunos. Vamos juntos transformar o aprendizado </p>
            <ul id="formIcon">
                <li><img src="../Ícones/correto.svg" alt=""><p>Vídeos</p></li>
                <li><img src="../Ícones/correto.svg" alt=""><p>Materiais</p></li>
                <li><img src="../Ícones/correto.svg" alt=""><p>Quizzes</p></li>
                <li><img src="../Ícones/correto.svg" alt=""><p>Certificado</p></li> 
            </ul>
            <a href=""><button>Cadastre-se</button></a>
        </div>
    </div>

</div><!--Fim cadastro -->

<div id="barra"><!--Barra-->

    <div>
        <p>15k</p>
        <p>Estudantes</p>
    </div>

    <div>
        <p>+900</p>
        <p>Cursos</p>
    </div>

    <div>
        <p>+499</p>
        <p>Empresas</p>
    </div>
    
    <div>
        <p>95%</p>
        <p>Satisfação</p>
    </div>
    
</div><!--Fim barra-->

<div id="metodologia"><!--Metodologia-->

    <div>
        <h1>Metodologia Adaptativa</h1>
        <p>A personalização dos cursos é um dos diferenciais que tornam a experiência de aprendizado mais engajante e adaptada às necessidades de cada usuário.</p>
        <ul>
            <li><img src="../Ícones/mais.svg" alt=""><p>Cada curso no seu ritmo</p></li>
            <li><img src="../Ícones/mais.svg" alt=""><p>Aprendizagem flexível</p></li>
            <li><img src="../Ícones/mais.svg" alt=""><p>Acompanhe o progresso de seus funcionários</p></li>
        </ul>
    </div>

  
        <img src="../Imagens/ImagemNegocios2.png " alt="">


</div><!--Fim metodologia-->

<div id="marquee"><!--Carossel-->
        <img src="../Imagens/Patrocinador3 (1).png" alt="">
        <img src="../Imagens/Patrocinador3 (6).png" alt="">
        <img src="../Imagens/Patrocinador3 (7).png" alt="">
        <img src="../Imagens/Patrocinador3 (8).png" alt="">
        <img src="../Imagens/Patrocinador3 (9).png" alt="">
        <img src="../Imagens/Patrocinador3 (1).png" alt="">
        <img src="../Imagens/Patrocinador3 (6).png" alt="">
        <img src="../Imagens/Patrocinador3 (7).png" alt="">
        <img src="../Imagens/Patrocinador3 (8).png" alt="">
        <img src="../Imagens/Patrocinador3 (9).png" alt="">
        <img src="../Imagens/Patrocinador3 (1).png" alt="">
        <img src="../Imagens/Patrocinador3 (6).png" alt="">
        <img src="../Imagens/Patrocinador3 (7).png" alt="">
        <img src="../Imagens/Patrocinador3 (8).png" alt="">
        <img src="../Imagens/Patrocinador3 (9).png" alt="">
        <img src="../Imagens/Patrocinador3 (1).png" alt="">
        <img src="../Imagens/Patrocinador3 (6).png" alt="">
        <img src="../Imagens/Patrocinador3 (7).png" alt="">
        <img src="../Imagens/Patrocinador3 (8).png" alt="">
        <img src="../Imagens/Patrocinador3 (9).png" alt="">
</div><!--Fim Carossel-->
</main>
<footer>
<div id="rodape"><!--Rodape-->

    <div>
        <img src="../Imagens/LogoLearnFy.png" alt="">
    </div>

    <div>

        <strong><h1>Ajuda</h1></strong>
        <ul>
            <li><a href=""><p>Termos de Uso</p></a></li>
            <li><a href=""><p>Quem somos</p></a></li>
            <li><a href=""><p>Perguntas frequentes</p></a></li>
        </ul>

    </div>

    <div>

        <h1>Contate-nos</h1>
        <p>R. Virgínia Ferni, 400 - Itaquera, São Paulo - SP, 08253-000</p>
    <a href=""><p style="color: black;">contato@learnfy.com.br</p></a>
        <ul id="icones">
            <li><a href="#"><img class="icon" src="../Ícones/facebook.svg" alt=""></a></li>
            <li><a href="#"><img class="icon" src="../Ícones/instagram.svg" alt=""></a></li>
            <li><a href="#"><img class="icon" src="../Ícones/x-twitter.svg" alt=""></a></li>
            <li><a href="#"><img class="icon" src="../Ícones/whatsapp.svg" alt=""></a></li>
        </ul>

    </div>

</div><!--Fim Rodape-->

<div id="direitos"><!--Direitos Reservados-->
    <h3>
        Copyright © 2025 LearnFY | Desenvolvido por Conexus Technology
    </h3>
</div><!--Fim Direitos Reservados-->
</footer>
</body>
</html>
